<header>
    <div class="container">
        <h1>Waste Into City</h1>
        <% if(variant) { %>
            <nav>
                <a href="/api/trashcan">Home</a>
            </nav>
        <% } %>
    </div>
</header>